<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <meta property="og:title" content="Dictonary Website" />
    <meta property="og:description" content="Ini adalah website untuk mencari dan menyimpan dictonary!" />
    <meta property="og:image" content="{{ url_for('static', filename = 'dictonary_logo.png') }}" />
    <link rel="icon" href="../static/wp_favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

    <!-- Import CSS -->
    <link href='{{ url_for("static", filename="css/style.css") }}' rel="stylesheet">

    <title>Detail Dictionary</title>
    <script>
        let word = "{{ word }}";
        $(document).ready(function() {

        });

        function save_word() {
            let defs = {{ definitions | tojson }};
            for (let i = 0; i < defs.length; i++) {
                let def = defs[i];
                let category = def.fl;
                let shortdef = def.shortdef[0];
                let date = def.date;

                defs[i] = {
                    category: category,
                    shortdef: shortdef,
                    date: date,
                };
            }

            let data = {
                word_give: word,
                definitions_give: defs,
            }
            $.ajax({
                type: 'POST',
                url: '/api/save_word',
                data: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json',
                },
                success: function(response) {
                    if (response.result === 'success') {
                        Swal.fire({
                            icon: 'success',
                            title: 'Sukses', 
                            text: response.msg,
                            showConfirmButton: true, 
                            confirmButtonText: 'OK', 
                        }).then(function() {
                            window.location.href = `/detail/${word}?status_give=old`;
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            showConfirmButton: true,
                            confirmButtonText: 'OK', 
                        });
                    }
                }
            });
        }

        function delete_word() {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '/api/delete_word',
                        data: {
                            word_give: word,
                        },
                        success: function(response) {
                            if (response.result === 'success') {
                                Swal.fire({
                                    icon: 'success',
                                    title: response.msg,
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(function() {
                                    window.location.href = `/detail/${word}?status_give=new`;
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong!',
                                });
                            }
                        }
                    });
                }
            });
        }
    </script>
</head>

<body>

    <div class="wrap">
        <div class="banner" onclick="window.location.href='/';"></div>
        <div class="container-custom">
            <div class="d-flex justify-content-between align-items-end">
                <div>
                    <h1 id="word" style="display: inline">{{ word }}</h1>
                </div>
            </div>
            <hr />
            <div id="definition">
                {% for def in definitions %}
                {% set category = def.fl %}
                {% set shortdef = def.shortdef[0] %}
                {% set date = def.date %}
                <div style="padding: 10px">
                    <i>{{ category }}</i>
                    <br />
                    {{ shortdef }}
                    <br />
                    <span class="example">{{ date }}</span>
                </div>
                {% endfor %}
            </div>
            <hr />
            {% if status == 'new' %}
            <button id="btn-save" class="btn btn-sparta-outline btn-lg" onclick="save_word()">
                SAVE
            </button>
            {% else %}
            <button id="btn-delete" class="btn btn-sparta btn-lg" onclick="delete_word()">
                DELETE
            </button>
            {% endif %}
        </div>
    </div>
    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            </ul>
            <p class="text-center text-muted">© 2024 Rico Pratama</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>
